
div.bar-show-container {
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
}

div.bar-show-page {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 35%;
}

div.bar-show-page > h1 {
    font-size: 32px;
    font-weight: 800;
    margin-top: 28px;
    margin-bottom: 28px;
}

div.side-bar-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

div.show-photos-header {
    display: grid;
    justify-items: center;
    align-items: baseline;
    height: 250px;
}

ul#bar-show-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
}

div.show-tags {
    margin-bottom: 30px;
}

div.bar-show-page > p {
    text-align: center;
}