.review-item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.review-item > div {
    padding: 5px;
    width: 100%;
}

.filled {
    color: #da3743;
}

.empty {
    color: rgba(213, 213, 213, 0.692);
}

.review-buttons-container {
    display: flex;
    width: 50%;
    justify-content: left;
}

.review-buttons-container > button {
    border-radius: 8px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 11px;
    padding: 4px;
    font-weight: 200;
}