.review-item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.review-item > div {
    padding: 5px;
    width: 100%;
}

.filled {
    color: #da3743;
}

.empty {
    color: rgba(213, 213, 213, 0.692);
}

.review-buttons-container {
    display: flex;
    justify-content: space-around;
}

.review-buttons-container > button {
    border-radius: 10px;
}