.review-item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.review-item > div {
    padding: 5px;
    width: 100%;
}

.filled {
    color: #da3743;
}

.empty {
    color: rgba(213, 213, 213, 0.692);
}

.review-buttons-container {
    display: flex;
    width: 50%;
    justify-content: left;
}

.review-buttons-container > button {
    border-radius: 8px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 11px;
    padding: 4px;
    font-weight: 200;
}

.review-form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 35vh;
    width: 50vw;
    font-weight: 300;
}

.review-form-content > h1 {
    font-size: 20px;
    margin-bottom: 3%;
}

.submit-review {
    margin: 0 0 4px;
    padding: 1px 6px;
    height: 3vh;
    background-color: #da3743;
    color: white;
    border: none;
    border-color: #da3743;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}