ul#index-item-info {
    display: flex;
}

ul#index-item-info li {
    display: inline-block;
    font-size: 10px;
    margin-right: 3px;
    margin-top: 5px;
}

a.bar-name {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

div.index-item-container > li {
    font-size: 11px;
}