.reservation-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 8px;
    /* border-color: rgba(241, 23, 23, 0.495); */
    border-color: #da3743;
    border-width: 4px;
    border-style: inset;
    border-radius: 5px;
    overflow-y: scroll;
}

.reservation-list-buttons > button:hover {
    color: white;
    background-color: #da3743;
}

.reservation-list-buttons > button{
    border-radius: 8px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 11px;
    padding: 4px;
    font-weight: 200;
}

.reservation-list-buttons {
    display: flex;
}

.reservation-list-header {
    font-size: 20px;
    margin-bottom: 20px;
}

#strong {
    color: #da3743;
}