.search-container {
    display: flex;
    height: 30vh;
    /* background-color: rgb(15, 28, 83); */
    background-image: linear-gradient(to left, rgba(17, 40, 102, 0.577), rgb(15, 28, 83));
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color:  white;
    font-size: 36px;
    margin-bottom: 2vh;
}

.query-form {
    display: flex;
    justify-content: space-evenly;
    width: 75vw;
}

#query input:focus {
    border: none;
    outline: none;
}

#query input {
    height: 5vh;
    width: 15vw;
    border: none;
}

.submit-query {
    height: 5vh;
    border-radius: 4px;
    background-color: #da3743;
    color: white;
    border: none;
    width: 7vw;
}

#query {
    display: flex;
    background-color: white;
    border-radius: 4px;
    width: 18vw;
    justify-content: space-evenly;
    align-items: center;
}

#query svg {
    height: 5vh;
}