
div.nav-container > ul {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    max-height: 84px;
}

li a {
    margin: 20px ;
    padding: 10px;
    font-size: 24px;
    color: black;
    list-style: none;
    text-decoration: none;
}

.dropdown {
    position: fixed;
    top: 85px;
    border-radius: 4px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 4px #2d333f33;

}

.profile {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

ul.dropdown {
    padding: 15px;
    justify-content: left;
    background-color: white
}

ul.dropdown > li {
    margin: 5px
}

ul li {
    display: flex;
}

li.sign-buttons {
    display: flex;
    align-items: center;
    padding: 25px;
}

li.sign-buttons > button {
    display: inline-block;
    box-sizing: border-box;
    background-color: #247f9e;
    border: 0.0625rem solid #247f9e;
    color: #ffffffcd;
    font-size: 12px;
    font-weight: 100;
    margin: 0 12px;
    border-radius: 0.1875rem;
    cursor: pointer;
    line-height: 2rem;
    padding: 0 16px;
    width: 77px;
}

svg.search {
    width: 19px;
    height: 19px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

svg.icon {
    height: 19px;
    width: 19px;
    color: black;
    cursor: pointer;
}

svg#logo {
    height: 30px;
    width: 30px;
    color: #247f9e;
}

button#logout {
    background-color: white;
    color: #247f9e;
    border: none;
}